{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block content %}
 <div class="container mt-4">
 <!--
  <h1 class="text-warning mb-3 border-5 border-secondary border-bottom">CONTACT ME</h1> -->

  <h3 class="text-light mb-3 border-1 border-secondary border-bottom">Interested to work together? <span> <b class="text-success"> Let's talk </b> </span></h3>

  <div class="row text-white mb-1">
    <p class="mx-auto mb-1">
    <!--
     <h3>Interested to work together? <span> <b class="text-success"> Let's talk </b> </span></h3>  -->
    </p>
  <div class="col-sm-9 mb-5">
     <form action="" method="POST">
        {% if messages %}
          {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
          {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{form.as_p}}   
      <!-- 
      <div class="form-row">
       <div class="form-group col-md-6 ">
        <label for="inputName">Your Name</label>
        <input type="text" class="form-control"
        id="inputName" />
       </div>
        <div class="form-group col-md-6">
         <label for="inputEmail">Your Email *</label>
         <input type="email" class="form-control"
         id="inputEmail" required />
       </div>
      </div>
        <div class="form-group">
        <label for="inputSubject">Your Subject</label>
        <input type="text" class="form-control" id="inputSubject"/>
       </div>
       <div class="mb-3">
        <label for="inputTextarea">Your Message *</label>
        <textarea class="form-control" id="inputTextarea" required></textarea>
       </div>
      --> 
       <button class="btn btn-primary" type="submit">Send <i class="fas fa-paper-plane"></i></i></button>
     </form>
    </div>
    <div class="col-sm-3 text-center">
     <ul class="list-unstyled">
      <li>
       <a href="https://www.google.com/maps/place/Chandigarh" target="_blank"><i class="fa fa-map-marker-alt fa-2x i-color"></i></a>
        <p>Chandigarh, India</p>
      </li>
      <li>
       <i class="fas fa-phone fa-2x i-color"></i>
        <p>+ 91 8755473100</p>
      </li>
      <li>
      <!--
       <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
        <p>arif.chaudhary.geu864@gmail.com</p> -->
        <a href="https://www.gmail.com/" target="_blank"><i class="fas fa-envelope mt-4 fa-2x i-color"></i></a>
        <p>arif.chaudhary.geu864@gmail.com</p>
      </li>
     </ul>

    </div>
   </div>
 </div>
<!--
<div class="text-center col-sm-5 offset-sm-2"> 
 <a href="https://twitter.com/_ArifChaudhary" target="_blank"><i class="fab fa-twitter i-color mr-5"></i></a> &#160
 <a href="https://www.linkedin.com/in/arif-chaudhary-0510b6127/" target="_blank"><i class="fab fa-linkedin i-color mr-5"></i></a> &#160
 <a href="https://github.com/ArifChaudhary/" target="_blank"><i class="fab fa-github i-color mr-5"></i></a> &#160
 <a href="https://www.instagram.com/_arifchaudhary/" target="_blank"><i class="fab fa-instagram i-color mr-5"></i></a> &#160
 <a href="https://www.ecoderpoint.com/" target="_blank"><i class="fab fa-dribbble i-color"></i></a>
</div>
-->
{% endblock content %}