{% extends 'app/base.html' %}
{% load static %}
{% block title %}services{% endblock title %}
{% block content %}
<div class="container mt-5">
 <h3 class="text-success mb-5 border-bottom border-1">SERVICES</h3>

 <div class="row text-center text-muted mb-5">
  <div class="col-sm-4">
   <i class="fas fa-laptop fa-2x mb-3 i-color"></i>
   <h3>GUI</h3>
   <p class="ss-color">I created multiple GUI's using tkinter.</p>
  </div>

  <div class="col-sm-4">
   <i class="fas fa-palette fa-2x mb-3 i-color i-color"></i>
   <h3>Web Design</h3>
   <p class="ss-color">I am not very great @ it but yeah i kinda enjoy it.</p>
  </div>

  <div class="col-sm-4">
   <i class="fas fa-code fa-2x mb-3 i-color"></i>
   <h3>Web Development</h3>
   <p class="ss-color">I worked on various backend development using Python, Django, HTML, CSS, JS, Ajax, Jquery, restAPIs.</p>
  </div> 

 </div>

 
 <div class="row text-center text-muted mb-5">
  <div class="col-sm-4">
   <i class="fab fa-android fa-2x mb-3 i-color"></i>
   <h3>Android</h3>
   <p class="ss-color">I tried exploring it with the kivi framework in python.</p>
  </div>

  <div class="col-sm-4">
   <i class="fas fa-chart-bar fa-2x mb-3 i-color i-color"></i>
   <h3>Analytics</h3>
   <p class="ss-color">I did various small analytics projects using pandas, numpy, seaborn.</p>
  </div>

  <div class="col-sm-4">
   <i class="fas fa-database fa-2x mb-3 i-color"></i>
   <h3>Hosting</h3>
   <p class="ss-color">Host various Webs on server.</p>
  </div> 

 </div>
  <!--
 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
   <h3>Logo Design</h3>
   <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-database fa-2x mb-3 i-color i-color"></i>
   <h3>Hosting</h3>
   <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-headset fa-2x mb-3 i-color"></i>
   <h3>Support</h3>
   <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div> -->

 </div>

</div>
{% endblock content %}