{% extends 'app/base.html' %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block content %}
<div class="container mt-5">
 <h3 class="text-success mt-5 border-bottom border-1 mb-0">SKILLS</h3>
 <div class="row text-white">

 <div class="col-sm-5 text-muted">
  <h3 class="mt-5">HTML/CSS</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100"
    aria-valuemin="0" aria-valuemax="100">100%</div>
   </div>
 </div>

<div class="col-sm-5 offset-sm-2 text-muted">
  <h3 class="mt-5">JavaScript</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:50%"
     aria-valuenow="50" aria-valuemin="0"
     aria-valuemax="100">50%</div>
   </div>
 </div>

 <div class="col-sm-5 text-muted">
  <h3 class="mt-5">Python</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%"
     aria-valuenow="85" aria-valuemin="0"
     aria-valuemax="100">85%</div>
   </div>
 </div>

 <div class="col-sm-5 offset-sm-2 text-muted">
  <h3 class="mt-5">Django</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
     aria-valuenow="80" aria-valuemin="0"
     aria-valuemax="100">80%</div>
   </div>
 </div>

 <div class="col-sm-5 text-muted">
  <h3 class="mt-5">SQL</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
     aria-valuenow="80" aria-valuemin="0"
     aria-valuemax="100">80%</div>
   </div>
 </div>

 <div class="col-sm-5 offset-sm-2 text-muted">
  <h3 class="mt-5">Bootstrap</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:45%"
     aria-valuenow="45" aria-valuemin="0"
     aria-valuemax="100">45%</div>
   </div>
 </div>

 <div class="col-sm-5 text-muted">
  <h3 class="mt-5">API/Restful API</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%"
     aria-valuenow="85" aria-valuemin="0"
     aria-valuemax="100">85%</div>
   </div>
 </div>

 <div class="col-sm-5 offset-sm-2 text-muted">
  <h3 class="mt-5">jQuery</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
     aria-valuenow="80" aria-valuemin="0"
     aria-valuemax="100">80%</div>
   </div>
 </div>

 <div class="col-sm-5 text-muted">
  <h3 class="mt-5">Ajax</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
     aria-valuenow="80" aria-valuemin="0"
     aria-valuemax="100">80%</div>
   </div>
 </div>

<div class="col-sm-5 offset-sm-2 text-muted">
  <h3 class="mt-5">GitHub</h3>
   <div class="progress" style="height: 12px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
     aria-valuenow="80" aria-valuemin="0"
     aria-valuemax="100">80%</div>
   </div>
 </div>
<br>

<!--Hobbies-->
<h3 class="text-success mt-5 border-bottom border-1 mb-5">HOBBIES</h3>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4 text-muted">
   <i class="fab fa-codepen fa-2x mb-3 i-color"></i>
   <h3>Coding</h3>
  </div>

  <div class="col-sm-4 text-muted">
   <i class="fa fa-hourglass fa-2x mb-3 i-color i-color"></i>
   <h3>Research</h3>
  </div>

  <div class="col-sm-4 text-muted">
   <i class="fas fa-running fa-2x mb-3 i-color"></i>
   <h3>Running</h3>
  </div> 

 </div>
 
 <div class="row text-center text-muted mb-5">
  <div class="col-sm-4">
   <i class="fa fa-tint fa-2x mb-3 i-color"></i>
   <h3>Thinking</h3>
  </div>

  <div class="col-sm-4 text-muted">
   <i class="fas fa-coins fa-2x mb-3 i-color i-color"></i>
   <h3>Coin Collections</h3>
  </div>

  <div class="col-sm-4 text-muted">
   <i class="fa fa-plane fa-2x mb-3 i-color"></i>
   <h3>Travelling</h3>
  </div> 


 </div>
</div>
{% endblock content %}